In [1]:
import matplotlib.pylab as plt
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model

#### 用pandas读取数据

In [3]:
data = pd.read_csv('./Folds5x2_pp.csv')

In [4]:
data.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

In [5]:
data.describe()

                AT            V           AP           RH           PE
count  9568.000000  9568.000000  9568.000000  9568.000000  9568.000000
mean     19.651231    54.305804  1013.259078    73.308978   454.365009
std       7.452473    12.707893     5.938784    14.600269    17.066995
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.510000    41.740000  1009.100000    63.327500   439.750000
50%      20.345000    52.080000  1012.940000    74.975000   451.550000
75%      25.720000    66.540000  1017.260000    84.830000   468.430000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

In [6]:
data.shape

(9568, 5)

In [7]:
y = data[['PE']]
y.head()

       PE
0  480.48
1  445.75
2  438.76
3  453.09
4  464.43

In [9]:
X = data[['AT', 'V', 'AP', 'RH']]
X.head()

      AT      V       AP     RH
0   8.34  40.77  1010.84  90.01
1  23.64  58.49  1011.40  74.20
2  29.74  56.90  1007.15  41.91
3  19.07  49.69  1007.22  76.79
4  11.80  40.66  1017.13  97.20

#### 划分训练集和测试集

In [10]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(7176, 4)
(7176, 1)
(2392, 4)
(2392, 1)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

#### 得到的模型
#### PE = 447.06297099-1.97376045*AT-0.23229086*V+0.0693515*AP-0.15806957*RH

In [15]:
print(linreg.intercept_)
print(linreg.coef_)

[447.06297099]
[[-1.97376045 -0.23229086  0.0693515  -0.15806957]]

In [17]:
from sklearn import metrics
y_pred = linreg.predict(X_test)
mse = metrics.mean_squared_errorkkjj
print('MSE', metrics.mean_squared_error(y_test, y_pred))
print('RMSE', np.sqrt())

MSE 20.080401202073897
RMSE 4.481116066570236

#### 交叉验证

In [19]:
from sklearn.model_selection import cross_val_predict
X = data[['AT', 'V', 'AP', 'RH']]
y = data[['PE']]
linreg = LinearRegression()
predicted = cross_val_predict(linreg, X, y, cv=10)
mse = metrics.mean_squared_error(y, predicted)
print('mse', mse)
print('rmse', np.sqrt(mse))

mse 20.795597461943096
rmse 4.560219014690314